@charset "UTF-8";

.cabeçalho {
    background-image: linear-gradient(to right, #02A676, #007369, #005A5B, #003840);
    text-align: center;
}

.corpo {
    background-color: white;
    font: italic bolder 1em 'work sans, sans-serif';
    color: black;
    margin: auto;
    width: 900px;
    height: 65px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    
}

.menu {
    list-style: none;
    border: 1px solid black;
    display: flex;
    
    }

.menu li {
    position: relative;
    border-right: 1px solid black;
}

.menu li:last-child {
    border-right: none; /* Remove a borda do último item (YOUTUBE) */
}

.menu li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    transition: background-color 0.3s ease, color 0.3 ease;
}
.menu li a:hover {
    background-color: #333;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #CCC; 
    -webkit-box-shadow: 0 3px 10px 0 #ccc; 
    text-shadow: 0px 0px 5px #fff;

}

.menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    min-width: 150px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    
}

.menu li:hover > ul{
    display: block;
}

.menu li ul li{
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    }

    .menu li ul li:last-child {
        border-bottom: none; 
        }
        .menu li ul li a {
            padding: 10px;
            display: block;
            color: black;
        }
        
        .menu li ul li a:hover {
            background-color: #f2f2f2;
        }
        
        /* Efeitos de transição para melhorar a interação */
        .menu li a, .menu li ul li a {
            transition: background-color 0.3s ease, color 0.3s ease;
        }  