@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

body { 
    font-family: 'Passion One';
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    margin: auto;
    text-align: center;
    font: normal bold 5em 'Passion One, serif';
}
header p {
    font: normal bold 20px 'passion one';
    padding: 20px;
    margin: 10px;
}

 p {
    padding: 20px;
    margin-top: 80px;
    font: italic normal 4em 'Sriracha'; /* tamanho 67*/
    
}

.fundo1 {
    background-image: url(pacote-d012/imagens/background001.jpg);
    position: relative;
    background-size: 100%;
    background-attachment: fixed;
    height: 115vh;
    padding: 10px;
    

}
.conteudo2 {
    background-color: rgba(0, 0, 0, 0.555);
    position: absolute;
    background-size: auto;
    max-width: 800px;
    color: white;
    height: 83%;
    margin-left: 20px;

}

.fundo2 {
    background-image: url(pacote-d012/imagens/background002.jpg);
    position: relative;
    background-size: 100%;
    background-attachment: fixed;
    height: 115vh;
    padding: 10px;

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    /*font: italic normal 20px 'verdana';*/
    height: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
